:root {
    --body-bg: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    --button-col: #4B4C5F;
    --active-col: #1E1F36;
    --panel-col: #787887;
}

html {
    box-sizing: border-box;
    height: 100vh;
    background: var(--body-bg);
}

body {
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

img {
    /* display: block; */
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    font: inherit;
    font-size: 0.8125rem;
    color: var(--button-col);
}

/* styling of buttont text when it's active, add / remove class in js file */
.active {
    font-weight: 700;
    color: var(--active-col);
}

/* style arrow to rotate when button is active, add / remove class in js file */
.inverted {
    transform: rotate(180deg);
}

.panel {
    font-size: 0.75rem;
    color: var(--panel-col);
    padding-right: 2rem;
    margin-bottom: 1rem;
}

hr {
    background-color: #E8E8EA;
    border-color: #E8E8EA;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 1.5rem);
    min-width: 20.4375rem;
    background-color: white;
    border-radius: 1.4375rem;
    margin-top: 9.25rem;
    padding: 1.56rem;
    padding-top: 7.5rem;
    position: relative;
    box-shadow: 0px 50px 50px - 20px rgba(53, 18, 122, 0.50);
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: absolute;
    margin-top: 1rem;
    top: 20%;
    transform: translateY(-7rem);
    z-index: 1;
}

.image-top {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
}

.image-bottom {
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;
    z-index: -1;
}

.images-desktop {
    display: none;
}

#shadow {
    /* position: relative; */
    /* transform: translateY(-5rem); */
    padding-top: 10%;
}

h1 {
    margin-bottom: 2.38rem;
    font-size: 2rem;
}

.drop-downs {
    width: 100%;
    text-align: center;
}

button {
    border: none;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0rem;
}

button:hover {
    color: #F47B56;
}

.down-arrow {
    display: inline;
}

.panel {
    display: none;
    text-align: start;
}

.attribution {
    color: white;
    margin: 2rem 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 900px) {
    main {
        flex-direction: row;
        padding: 4rem;
        justify-content: space-between;
        max-width: 57.5rem;
        overflow: hidden;
        z-index: 1;
    }

    .images {
        display: none;
    }

    .images-desktop {
        flex-basis: 50%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        height: 100%;
        position: relative;
    }

    .image-top-desk {
        grid-row: 2 / span 9;
        grid-column: 1 / -1;
    }

    .image-bottom-desk {
        position: absolute;
        right: 34%;
        bottom: 45%;
        width: 60rem;
        height: 35.5rem;
        z-index: -1;
    }

    .image-cube-desk {
        grid-row: 5 / span 3;
        grid-column: 1 / span 3;
        z-index: 1;
        position: fixed;
    }

    #woman-online-desk {
        transform: translateX(-8rem);
    }

    #cube-desk {
        transform: translateX(-9.8rem);
    }

    .drop-downs {
        flex-basis: 50%;
    }

    h1 {
        text-align: start;
    }
}